accelerate==1.1.1
bitsandbytes==0.45.5
boto3==1.35.81
botocore==1.35.81
datasets==3.6.0
evaluate==0.4.3
huggingface-hub==0.30.2
matplotlib==3.10.3
networkx==3.4.2
nltk==3.9.1
numpy==2.2.5
pandas==2.2.2
requests==2.32.3
rouge_score==0.1.2
scikit_learn==1.6.1
sentence_transformers==3.3.1
seaborn==0.13.2
spacy==3.8.5
SQLAlchemy==2.0.40
textdistance==4.6.3
textstat==0.7.4
torch==2.6.0
transformers==4.46.3
wikipedia==1.4.0
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl#sha256=f72abb34bdf174876bd4267b29b2501677e605e0a251fdc56c163003182ed68b